@font-face {
	font-family: 'gtwal';
	src: url('http://okfoc.us/assets/fonts/gt_walsheim_medium-webfont.eot');
	font-weight: normal;
}
@font-face {
	font-family: 'gtwal';
	src: url('http://okfoc.us/assets/fonts/gt_walsheim_medium-webfont.woff') format('woff'),
	url('http://okfoc.us/assets/fonts/gt_walsheim_medium-webfont.svg#gt_walsheim_medium-webfont') format('svg');
	font-weight: normal;
}
body {
	background: white url('http://okfoc.us/assets/images/photocopy.png') center fixed;
}
#provider {
	margin: 10px 0;
	font-style: italic;
}
#fields input {
	display: none;
}
#fields label {
	display: none;
}
#embed_code {
	display: none;
	resize: none;
	height: 100px;
}
#rapper {
	font-family: 'helvetica',sans-serif;
	width: 960px;
	margin: 0 auto;
	padding-bottom: 50px;
}
h1 {
	font-size: 96px;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: 12px;
	font-family: 'gtwal',sans-serif;
	font-weight: normal;
	text-shadow: -1px 1px,-2px 2px,-3px 3px,-4px 4px;
}
#url {
	width: 63%;
	font-size: 14px;
	color: black;
	background: #eee;
	border: 1px white;
	outline: 0;
	padding: 15px 10px;
	box-shadow: -1px 1px #eee,-2px 2px #EEE,-3px 3px #eee,-4px 4px #eee,-5px 5px #eee;
	min-width: 400px;
}
::-webkit-input-placeholder {
	color: black;
	font-weight: bold;
}

:-moz-placeholder {
	color: black;
	font-weight: bold;
}
::-moz-placeholder {
	color: black;
	font-weight: bold;
}
:-ms-input-placeholder {
	color: black;
	font-weight: bold;
}
.videorapper {
	float: left;
}
.video {
	float: left;
}
.video iframe {
	margin: 0;
	
}
#fields {
	display: none;
	text-align: left;
	margin: 0 auto;
}
#fields td {
	padding: 2px 18px;
	font-size: 12px;
}
.other_aspect {
	display: none;
}
.clear {
	clear: both;
}

#examples {
	font-size: 12px;
	margin: 20px 0 0 0;
}
#examples span {
	cursor: pointer;
	text-decoration: underline;
	margin: 0 5px;
	opacity: 0.7;
}
#examples span:hover {
	opacity: 1;
}
@-webkit-keyframes blink_on {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 1.0;
	}
	51% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.0;
	}
}
@-moz-keyframes blink_on {
	0% {
		opacity: 1.0;
	}
	50% {
		opacity: 1.0;
	}
	51% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.0;
	}
}
blink {
	-moz-animation-name: blink_on;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-moz-animation-duration: 1.5s;
	-webkit-animation-name: blink_on;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
	-webkit-animation-duration: 1.5s;
	color: red;
}
a {
	color: blue;
}
a:visited {
	color: blue;
}
h2 {
	margin: 10px 0 10px 0;
	font-size: 18px;
	width: 909px;
}
h5 {
	margin: 18px 0;
}